<div id="wrapper" class="text-center">

    <h1>QUESTIONS:</h1>

    <div class="row">
        <div class="col-6">
            <h2>CATEGORY:</h2>
        </div>
        <div class="col-6">
            <h2 id="questionsCategory">ALL</h2>
        </div>
    </div>

    <br>

    {{#each questions}}
    {{!-- {{#if category === "animals"}} --}}

    <div class="question question{{id}}">
        <div class="questionDiv questionDiv{{id}}">
            <div class="row">
                <div class="col">
                    <h2 class="questionTitle questionTitle{{id}}" data-id="{{id}}">{{question}}</h2>
                </div>
            </div>
        </div>
        <div class="answersDiv answersDiv{{id}}">
            <div class="row">
                <div class="col answerADiv answerADivQuestion{{id}}">
                    <button class="btn btn-primary answerButton answerAQuestion{{id}}" data-id="{{id}}" data-correct="{{correct}}">
                        A: {{a}}
                    </button>
                    <div class="col answerBDiv answerBDivQuestion{{id}}">
                        <button class="btn btn-primary answerButton answerBQuestion{{id}}" data-id="{{id}}" data-correct="{{correct}}"
                            B: {{b}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col answerCDiv answerCDivQuestion{{id}}">
                    <button class="btn btn-primary answerButton answerCQuestion{{id}}" data-id="{{id}}" data-correct="{{correct}}">
                        C: {{c}}
                    </button>
                    <div class="col answerDDiv">
                        <button data-id="{{id}}" data-correct="{{correct}}"
                            class="btn btn-primary answerDQuestion{{id}} answerButton">
                            D: {{d}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- {{/if}} --}}
    {{/each}}

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script>
    let questions = {
        numCorrect:,
        numTotal: 10,
        correctArr: []
    }
    $(".")
</script>